$primary: #007dff;

$header-color: #434343;

$text-color: rgba(0, 0, 0, 0.87);
$text-color-gray-100: rgba(101, 101, 101, 0.87);
$text-color-gray-200: #575757;
$text-color-gray-500: rgba(34, 34, 34, 0.87);
